<div class='section'>
  <p class='is-size-3'><strong>Edit Company value</strong></p>
  <%= render 'form', company_value: @company_value %>

  <div class='mt-3'>
    <%= link_to 'Show', admins_company_value_path(@company_value), class: 'button' %>
    <%= link_to 'Back', admins_company_values_path, class: 'button' %>
  </div>
</div>
