<div class='section'>
  <p class='is-size-3'><strong>New Category</strong></p>
  <%= render 'form', category: @category %>

  <div class='mt-3'>
    <%= link_to 'Back', admins_categories_path, class: 'button is-light' %>
  </div>
</div>
