<div class='section'>
  <p class='is-size-3'><strong>Import Rewards from CSV</strong></p>

  <%= form_with(url: {action: :import_from_csv}, multipart: true) do %>
    <div class="field">
    <%= file_field_tag 'rewards_csv', accept: 'text/csv', test_id: "rewards_csv_input" %>
    </div>
    <div class="actions">
      <%= submit_tag "Import selected file", class: "button is-primary" %>
    </div>
  <% end %>

  <div class='mt-3'>
    <%= link_to 'Back', admins_rewards_path, class: 'button' %>
  </div>
</div>
